.env
/venv/
/edgar_companyfacts/
CIK*.json
resources/edgar_companysubmissions/
edgar_companyavailable.json
edgar_companytickers.json
listticker.json
/factors_extraction.log
companydb_dump.sql
*.log
__pycache__